<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :deadline_date, '締め切り日' %><br>
    <%= f.date_select :deadline_date %>
  </div>
  <div class="field">
    <%= f.label :deadline_time, '締め切り時間' %><br>
    <%= f.time_select :deadline_time %>
  </div>
  <div class="field">
    <%= f.label :subject, 'タイトル' %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :title, '内容' %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :submit_method, 'その他' %><br>
    <%= f.text_field :submit_method %>
  </div>
  <div class="field">
		<%= f.hidden_field :classroom, :value => current_user.classroom%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
