<p id="notice"><%= notice %></p>

<h1>Listing Schedules</h1>

<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>時間</th>
      <th>タイトル</th>
      <th>内容</th>
      <th>その他</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.deadline_date.strftime('%Y年%m月%d日') %></td>
        <td><%= schedule.deadline_time.strftime('%H時%M分') %></td>
        <td><%= schedule.subject %></td>
        <td><%= schedule.title %></td>
        <td><%= schedule.submit_method %></td>
        <td><%= link_to 'Show', schedule %></td>
        <td><%= link_to 'Edit', edit_schedule_path(schedule) %></td>
        <td><%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schedule', new_schedule_path %>
